body {
  background-image: linear-gradient(90deg, #333, #888);
  height: 1000px;
  font-family: serif;
}
.headOfProject{
  margin-top: 30px;
  text-align: left;
  margin-left: 100px;
  color: white;
}
h2 {
  font-size: 60px;
}

.win{
  margin-left: 100px;
  margin-top:10px;
}

.ticTacToBoard{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px 200px;
  margin-left: 100px;
  margin-top: 20px;
  border-width: 20px;
  width: 620px;
  opacity: .5;
  mar
   /* grid-gap: 5px; */
}

.box{
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 8px 15px #222;
}

.box1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.box2 {
  grid-column-start: 1;
  grid-row-start: 2;
}

.box3 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.box4 {
  grid-column-start: 2;
  grid-row-start: 1;
}

.box5 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.box6 {
  grid-column-start: 2;
  grid-row-start: 3;
}

.box7 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.box8 {
  grid-column-start: 3;
  grid-row-start: 2;
}

.box9 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.xPic{
  background-image: url("../img/xPic.png");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;
}
.oPic{
  background-image: url("../img/oPic.png");
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 1;
}


/* MENU SECTION */
.menu{
   position: absolute;
   z-index: 2;
   opacity: .9;
   margin-left: 40%;
   margin-top: 100px;
   width: 400px;
   height: 300px;
   /* display: none; */
}

select.form-control{
  display: none;
}

.win{
  font-size: 30px;
  color: white;
  font-style: italic;
}

form.reset{
  background-color: white;
  opacity: .5;
  /* border-style: solid;
  border-width: 5px; */
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 20px;
  width: 200px;
  box-shadow: 8px 8px 15px #222;
}

form.reset button{
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/*TO DO LIST */
/* js: %, separate $ in grid template */
/* refactor grid to auto*/
